{% extends 'main/base.html' %}
{% load static %}
{% block title %} Innovation tech {% endblock%}
{% block main%}

<main class="bg-white">
    <nav aria-label="breadcrumb bg-light">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Accueil</li>
            <li class="breadcrumb-item active">Cours</li>
            <li class="breadcrumb-item" aria-current="page"> 
                {{course.name}}  
            </li>

        </ol>
    </nav>
    <pre>
<div class="container bg-info" style="height:200px;">
</div>














































    </pre>

{% endblock%}