{% extends 'main/base.html' %}
{% load static %}
{% block title %} Innovation tech {% endblock%}
{% block main%}
<div class="container-fluid gtco-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1> Découvrez  
                    <span>Innovation Tech en un</span> clic.</h1>
                    {% if not user.is_authenticated %}

                    <p>Démarrage rapide - obtenez les 5 MEILLEURES leçons GRATUITES</p>

                    <a href="#">Créer un compte gratuitement <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
            <div class="col-md-6">
                {% else %}
                <p><b>@{{user.username}}</b>,Démarrage rapide - obtenez les 5 MEILLEURES leçons GRATUITES</p>

                <a href="#">Commencer à apprendre <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                <div class="col-md-6">

                      {% endif%}
                <div class="card"><img class="card-img-top img-fluid" src="{% static 'images/banner-img.png' %}" alt=""></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gtco-feature" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="cover">
                    <div class="card">
                        <svg
                                class="back-bg"
                                width="100%" viewBox="0 0 900 700" style="position:absolute; z-index: -1">
                            <defs>
                                <linearGradient id="PSgrad_01" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                                    <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"/>
                                    <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"/>
                                </linearGradient>
                            </defs>
                            <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_01)"
                                  d="M616.656,2.494 L89.351,98.948 C19.867,111.658 -16.508,176.639 7.408,240.130 L122.755,546.348 C141.761,596.806 203.597,623.407 259.843,609.597 L697.535,502.126 C748.221,489.680 783.967,441.432 777.751,392.742 L739.837,95.775 C732.096,35.145 677.715,-8.675 616.656,2.494 Z"/>
                        </svg>
                        <!-- *************-->

                        <svg width="100%" viewBox="0 0 700 500">
                            <clipPath id="clip-path">
                                <path d="M89.479,0.180 L512.635,25.932 C568.395,29.326 603.115,76.927 590.357,129.078 L528.827,380.603 C518.688,422.048 472.661,448.814 427.190,443.300 L73.350,400.391 C32.374,395.422 -0.267,360.907 -0.002,322.064 L1.609,85.154 C1.938,36.786 40.481,-2.801 89.479,0.180 Z"></path>
                            </clipPath>
                            <!-- xlink:href for modern browsers, src for IE8- -->
                            <image clip-path="url(#clip-path)" xlink:href="{% static 'images/about1.jpg' %}" width="100%"
                                   height="465" class="svg__image"></image>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h2>En savoir plus sur <b> InnovTech</b> </h2>
                <p> Je m'appelle Augustin et j'ai commencé ce projet par mon propre désir d'apprendre et de grandir. Au fil des années de pratique dans le domaine complexe du développement web, j'ai réalisé qu'il existe de nombreux endroits pour apprendre les frameworks et les outils, mais trop peu d'attention est consacrée aux fondamentaux tels que la sécurité, la qualité et la conception des applications.

                <p>
                    <small>Je crois fermement qu'ensemble, nous pouvons le changer et construire notre expertise à partir du niveau fondamental, afin que les détails soient faciles avec cette perspective.

                    </small>
                </p>
                <p class="text-right"> - <b class="text-info">Augustin IDOHOU</b>, Co-Fondateur HelloDev

                    <small>
                </p>
                <a href="#">En savoir plus <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
        </div>
    </div>
</div>
<div class="container-fluid gtco-features" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Notre travail ensemble est quelque chose de plus.
                    <p>Vous n'êtes pas seul sur le chemin du développement de vos compétences.</p>
                    <br/>
                     </h2>
                <a href="#">Commencer à apprendre <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
            <div class="col-lg-8">
                <svg id="bg-services"
                     width="100%"
                     viewBox="0 0 1000 800">
                    <defs>
                        <linearGradient id="PSgrad_02" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                            <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"/>
                            <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"/>
                        </linearGradient>
                    </defs>
                    <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_02)"
                          d="M801.878,3.146 L116.381,128.537 C26.052,145.060 -21.235,229.535 9.856,312.073 L159.806,710.157 C184.515,775.753 264.901,810.334 338.020,792.380 L907.021,652.668 C972.912,636.489 1019.383,573.766 1011.301,510.470 L962.013,124.412 C951.950,45.594 881.254,-11.373 801.878,3.146 Z"/>
                </svg>
                <div class="row">
                    <div class="col">
                        <div class="card text-center">
                            <div class="oval"><img class="card-img-top" src="images/graphics-design.png" alt=""></div>
                            <div class="card-body">
                                <h3 class="card-title">Développement web</h3>
                                <p class="card-text">Un service de formation en programmation web fournit des cours en ligne pour aider les apprenants à acquérir les compétences nécessaires pour devenir des développeurs web compétents. Ces cours peuvent être adaptés à différents niveaux de compétence, du débutant complet au professionnel expérimenté.                                    .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gtco-news" id="news">
    <div class="container">
        <h2>Consultez le blog! </h2>
        <div class="owl-carousel owl-carousel2 owl-theme">
          {% for b in blog %}
            <div>
                
                <div class="card text-center"><img class="card-img-top" src="{{b.photo_article.url}}" alt="">
                    <div class="card-body text-left pr-0 pl-0">
                        <h5>{{ b.titre }} </h5>
                        <p class="card-text">{{b.text_intro}}</p>
                        <a href="">LIRE LA SUITE <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                </div>
            </div>
            {% endfor%}
            
        </div>
    </div>
</div>

{% endblock %}

